# Development-only access transformer in the configured Yarn namespace.
public net.minecraft.nbt.NbtCompound entries

public net.minecraft.client.render.model.json.ModelOverrideList$BakedOverride
public net.minecraft.client.render.model.json.ModelOverrideList$InlinedCondition
public net.minecraft.client.render.model.json.ModelOverrideList <init>()V
public net.minecraft.client.render.model.json.ModelOverrideList$BakedOverride <init>([Lnet/minecraft/client/render/model/json/ModelOverrideList$InlinedCondition;Lnet/minecraft/client/render/model/BakedModel;)V
public net.minecraft.client.render.model.json.ModelOverrideList$InlinedCondition <init>(IF)V
public-f net.minecraft.client.render.model.json.ModelOverrideList overrides
public-f net.minecraft.client.render.model.json.ModelOverrideList conditionTypes

public net.minecraft.client.render.VertexConsumerProvider$Immediate layerBuffers
public net.minecraft.client.render.RenderLayer$MultiPhaseParameters
public net.minecraft.client.render.RenderLayer of(Ljava/lang/String;Lnet/minecraft/client/render/VertexFormat;Lnet/minecraft/client/render/VertexFormat$DrawMode;ILnet/minecraft/client/render/RenderLayer$MultiPhaseParameters;)Lnet/minecraft/client/render/RenderLayer$MultiPhase;
public net.minecraft.client.render.RenderPhase$ShaderProgram
public net.minecraft.client.render.RenderPhase$Texturing
public net.minecraft.client.render.RenderPhase$Transparency
public net.minecraft.client.render.RenderPhase$Texture
public net.minecraft.client.render.RenderPhase$Lightmap
public net.minecraft.client.render.RenderPhase$Overlay
public net.minecraft.client.render.RenderPhase$Cull
public net.minecraft.client.render.RenderPhase$DepthTest
public net.minecraft.client.render.RenderPhase$WriteMaskState
public net.minecraft.client.render.RenderPhase$Layering
public net.minecraft.client.render.RenderPhase$Target
